<% apartments_bills.each_with_index do |bill, index| %>
  <% new_table_start = bill.apartment_id != apartments_bills[index-1].apartment_id %>
  <% new_table_end = apartments_bills[index+1].nil? || bill.apartment_id != apartments_bills[index+1].apartment_id %>
  <% if new_table_start %>
    <table class="table">
      <thead>
        <tr>
          <th><%= bill.apartment_name %></th>
          <th><%= link_to 'Add New Bill', new_bill_path(apartment_id: bill.apartment_id)%></th>
          <th colspan="4"></th>
        </tr>
        <tr>
          <th>Bill</th>
          <th>Payer</th>
          <th>Amount</th>
          <th>Due Date</th>
          <th>Paid</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
  <% end %>
    <%= render partial: 'apartment_bill', locals: { bill: bill } %>
  <% if new_table_end %>
      </tbody>
    </table>
  <% end %>
<% end %>
