<% pay_to_current_user = credit.pay_to_id == current_user.id %>
<tr>
  <td><%= credit.name %></td>
  <td><%= credit.apartment_name %></td>
  <td><%= cents_to_dollars(credit.cents) unless pay_to_current_user %></td>
  <td><%= cents_to_dollars(credit.cents) if pay_to_current_user %></td>
</tr>
