<table class="table">
  <thead>
    <tr>
      <th colspan="4"><%= name_with_initial_from_sql(roommate[:user], :roommate) %></th>
    </tr>
    <tr>
      <th>Credit</th>
      <th>Apartment</th>
      <th>Owed</th>
      <th>Lent</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'roommate_balance', collection: roommate[:credits], as: :credit %>
  </tbody>
</table>
