<table class="table">
  <thead>
    <tr>
      <th><%= name_with_initial_from_sql(roommate[:user], :roommate) %></th>
      <th><%= roommate[:user].apartment_name %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'credit_owes', locals: { owes: roommate[:owes] } %>
    <%= render partial: 'credit_lends', locals: { lends: roommate[:lends] } %>
  </tbody>
</table>
