<table class="table">
  <thead>
    <tr>
      <th>Credit</th>
      <th>Payer</th>
      <th>Apartment</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'user_credit', collection: user_credits, as: :credit %>
  </tbody>
</table>
