<table class="table">
  <thead>
    <tr>
      <th>Debt</th>
      <th>Owner</th>
      <th>Apartment</th>
      <th class="numbers">Amount</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'user_debt', collection: user_debts, as: :debt %>
  </tbody>
</table>
