<div class="col-sm-6">
  <h1>My Roommates</h1>
  <%= render partial: 'roommates', collection: @roommates, as: :roommate %>
</div>
<div class="col-sm-6">
  <h1>My Apartments</h1>
  <%= render partial: 'apartments_bills', locals: { apartments_bills: @apartments_bills } %>
</div>
