<table class="table">
  <thead>
    <tr style="text-align: left">
      <th>Bill</th>
      <th>Apartment</th>
      <th>Amount</th>
      <th>Due Date</th>
      <th>Paid</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'bills/user_bill', collection: user_bills, as: :bill %>
  </tbody>
</table>
