.numbers {
  text-align: right;
}

.fake-link {
  cursor: pointer;
  color: #337ab7;
  text-decoration: none;
  &:hover {
    color: #23527c;
    text-decoration: underline;
  }
}

ul {
  padding: 0;
  list-style-type: none;
  & label {
    font-weight: normal;
  }
}
